* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}

.main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-bottom: 173px;
}

.nav-top-bar {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    max-height: 60px;
}

.menu-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
    border: none;
    background-color: white;
    padding: 0 10px;
}

.menu-button-selected {
    font-weight: 500;
    color: #202336;
}

.login-register-button {
    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 60px;
    display: flex;
    text-align: center;
    padding: 0 10px;
    margin: 0 10px;
}

.login {
    color: #FB8F1D;
    background-color: white;
    padding: 0px 50px 0px 50px;
}

.register {
    color: white;
    background-color: #FB8F1D;
    padding: 0px 50px 0px 50px;
}

.section01-content-wrapper {
    margin-top: 5%;
    display: flex;
}

.info-wrapper {
    flex: 1;
}

.image-wrapper {
    flex: 1;
}

.info-text {
    margin-top: 10%;
}

.text-header1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

.img-sec-01 {
    width: 100%;
}

.text-header2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
    margin-top: 10%;
}

.seperation-line {
    width: 32px;
    color: #202336;
    border-bottom: 4px solid black;
    margin-top: 5%;
}

.selection-grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.custom-select {
    width: 600px;
    position: relative;
    display: flex;
}

.explore {
    color: white;
    background-color: #FB8F1D;
    margin-top: 5%;
    display: inline-block;
    padding: 0 60px;
}

.section02 {
    display: flex;
}

.section02-image-wrapper {
    flex: 0 0 50%;
    width: 100%;
}

.section02-info-wrapper {
    flex: 1;
    margin-left: 5%;
}

.text-header2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
    color: #202336;
}

.mulish {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    color: #7D7987;
}

.learnmorebutton {
    margin-top: 5%;
    margin-left: 0;
}

.section03-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured-destinations-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    overflow: auto;
}

.view-all-button {
    align-self: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB8F1D;
    padding-right: 5px;
    background-color: white;
    border: none;
}

.featured-destinations-text {
    margin-top: 0;
}

select {
    background-color: transparent;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    margin: 0;
    width: 100%;
    height: 52px;
    max-width: 250px;
    font-family: Inter;
    font-size: 15px;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    align-items: center;
    padding: 0.5em 3.5em 0.5em 1em;
}


.footer-container{
    background-color: #F9F9FB;
    padding-top: 70px;
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 33px;
}

.footer-col1 {
    display: flex;
    flex-direction: column;
    width: 391px;
    height: auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #848484;
    margin-right: 108px;
    align-items: flex-start;
}

.footer-col2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
    align-items: flex-start;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    /* margin: 70px 0px 167px 190px; */
}

.footer-heading {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 60px;
    color: #000000;
}

.footer-text {
    margin-top: 26px;
    margin-bottom: 55px;
}

.footer-rectangle {
    width: auto;
    height: 1px;
    background-color: #C4C4C4;
    margin-top: 77px;
    margin-bottom: 35px;
}

.footer-icons {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.trending-stories-container {
    margin-right: 235px;
    margin-left: 143px;
    margin-bottom: 196px;
    padding-left: 97px;
}

.trending-stories-h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.trending-stories-viewAll {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}

.trending-stories-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 34px;
}

.trending-stories-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    overflow: auto;
}

.trending-stories-columns {
    width: 266px;
    height: 100%;
    padding-right: 1px;
}

.trending-stories-subheadings {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 13px;
    
}

.trending-stories-img {
    border-radius: 8px 8px 0 0;
}

.trending-stories-img-container {
    width: 100%;
    height: 233px;
    overflow: hidden;
}

.trending-stories-readMore {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
}

.trending-stories-texts {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}

.trending-stories-plus-sign {
    margin-left: -97px;
    position: relative;
    left: 41%;
}

.trending-stories-circle-1 {
    position: relative;
    left: -20px;
    top: 425px;
}

.trending-stories-circle-2 {
    position: relative;
    left: 68.5%;
    margin-left: -97px;
}

.testimonials-container {

    margin-bottom: 231px;
    margin-left: 96px;
    margin-right: 324px;
    padding-left: 144px;
}

.testimonials-small-circle {
    position: relative;
    top: 299px;
    margin-left: -144px;
}

.testimonials-h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.testimonials-stars-container {
    display: flex;
    margin-bottom: 30px;
}

.testimonials-star-img {
    margin-right: 16px;
}

.testimonials-p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    width: 450px;
    margin-bottom: 40px;
}

.testimonials-h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
    margin-bottom: -13px;
}

.testimonials-p2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
}

.testimonials-column {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    height: 100%;
}

.testimonials-row {
    display: flex;
    justify-content: space-between;
}

.testimonials-img {
    margin-top: 43px;
}

.guides-container {
    /* max-width: 1205px; */
    min-width: 542px;
    margin-bottom: 248px;
    margin-left: 240px;
    margin-right: 154px;
}

.guides-circle {
    position: relative;
    top: 85px;
    left: 3.7%;
}

.guides-column {
    display: flex;
    flex-direction: column;
    width: 39%;
    max-width: 481px;
    margin-top: 132px;
    margin-right: 49px;
}

.guides-h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}

.guides-p {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    width: 93.5%;
    max-width: 450px;
    margin-bottom: 39px;
}

.guides-button {
    background: #FB8F1D;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 55px;
    color: #FFFFFF;
    width: 34%;
    min-width: 85px;
}

.guides-row {
    display: flex;
    overflow: auto;
    justify-content: space-between;
}

.guides-img {
    margin-right: 58px;
    width: 599px;
    height: 542px;
}

.guides-plus {
    position: relative;
    bottom: 223px;
}

.guides-tilted-plus {
    position: relative;
    left: 34.5%;
    bottom: 96.26px;
}